html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "SF Compact Display", Helvetica, 'Avenir Next';
}

.wrapper {
  background: #1C2333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 2rem;
}

button {
  height: 100px;
  width: 100px;
  font-size: 48px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  background: #eee;
}

button:hover {
  background: #777;
  transform: scale(1.1);
  transition: all .2s;
}

.resultContainer {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}

